body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4; /* Világos háttér */
    color: #000000; /* Világos szöveg */
    transition: background-color 0.3s, color 0.3s; /* Átmenet a színek között */
}

.dark-mode {
    background-color: #121212; /* Sötét háttér */
    color: #ffffff; /* Sötét szöveg */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header form {
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Átmenet a háttérszínre */
}

.dark-mode .product {
    background: #1e1e1e; /* Sötét háttér a termékeknek */
    border: 1px solid #444; /* Sötét szegély */
}

.product img {
    width: 200px; /* Kép szélessége */
    height: 200px; /* Kép magassága */
    object-fit: cover; /* Kép arányainak megőrzése */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animációs átmenet */
}

.product img:hover {
    transform: scale(1.1); /* Kép növelése */
    opacity: 0.8; /* Kép elhalványítása */
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* Gomb stílusok */
.toggle-button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.add-to-cart {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
